# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
/.idea/

*.jar
*.avi
*.jpg
test/*.properties
/lib/
/config.properties
!gradle-wrapper.jar